@import "src/styles/variables";

.content {
  margin-top: 50px;
  padding-block: 15px;
  // background-color: $background;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mat-drawer-container {
  z-index: 99999;
}

.filters-sidenav {
  &__header {
    background-color: $background;
    padding-block: 15px;
    .sidenav-toggle {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      // text-decoration: underline;
      padding-inline: 30px;
      img {
        width: 15px;
      }
    }
  }
  &__content {
    background-color: $background;
  }
}

.not-found {
  align-self: center;
  width: 400px;
  border-radius: 50%;
}
