@import "src/styles/variables";
@import "src/styles/responsive";

.container {
  background-image: url("/assets/images/home-bg.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include respond-to($breakpoint-sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  height: 100vh;
}
