@import "src/styles/variables";
@import "src/styles/responsive";

.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include respond-to($breakpoint-sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  height: 100vh;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
  }
}
