@import "src/styles/variables";

// Light Theme Palette
$primary-light: #3f51b5; // Material Blue (primary)
$accent-light: #e91e63; // Material Pink (accent)
$secondary-light: #607d8b; // Blue-grey (secondary)
$background-light: #f5f5f5; // Light grey background
$text-light: #212121; // Dark text
$muted-light: #757575; // Muted grey for less prominent text
$success-light: #4caf50; // Bright green (success)
$info-light: #00bcd4; // Light cyan (info)
$warning-light: #ff9800; // Orange (warning)
$danger-light: #f44336; // Red (error/danger)

// Dark Theme Palette
$primary-dark: #303f9f; // Darker blue for primary
$accent-dark: #c2185b; // Darker pink for accent
$secondary-dark: #455a64; // Darker blue-grey for secondary
$background-dark: #121212; // Very dark background
$text-dark: #e0e0e0; // Light grey text
$muted-dark: #9e9e9e; // Muted grey for less prominent text
$success-dark: #388e3c; // Darker green for success
$info-dark: #0288d1; // Darker cyan for info
$warning-dark: #f57c00; // Darker orange for warning
$danger-dark: #d32f2f; // Darker red for error/danger

// mixin to transfer root variables to lights
@mixin lighten {
  --primary: #{$primary-light};
  --accent: #{$accent-light};
  --secondary: #{$secondary-light};
  --background: #{$background-light};
  --text: #{$text-light};
  --muted: #{$muted-light};
  --success: #{$success-light};
  --info: #{$info-light};
  --warning: #{$warning-light};
  --danger: #{$danger-light};
}

// mixin to transfer root variables to darks
@mixin darken {
  --primary: #{$primary-dark};
  --accent: #{$accent-dark};
  --secondary: #{$secondary-dark};
  --background: #{$background-dark};
  --text: #{$text-dark};
  --muted: #{$muted-dark};
  --success: #{$success-dark};
  --info: #{$info-dark};
  --warning: #{$warning-dark};
  --danger: #{$danger-dark};
}
