@import "styles/variables";
@import "src/styles/responsive";
@import "src/styles/theme";
@import "src/styles/utilities";

// Materials
@import "styles/materials/buttons";
@import "styles/materials/drawer";

* {
  color: $text;
}

button {
  span {
    color: $background;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &.dark {
    @include darken();
  }
  &.light {
    @include lighten();
  }
}
