html {
  --mdc-text-button-container-height: 38px;
  --mdc-filled-button-container-height: 38px;
  --mdc-outlined-button-container-height: 38px;
  --mdc-protected-button-container-height: 38px;

  --mdc-text-button-label-text-size: 13px;
  --mdc-text-button-label-text-weight: 400;
  --mdc-filled-button-label-text-weight: 400;
}
